<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org">

<head>
	<title>Zoom App Clone</title>

	<meta name="viewport" content="width=device-width, initial-scale=1" charset="utf-8"/>

	<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon"/>

	<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
			crossorigin="anonymous"></script>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
		  integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>

	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
			integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>

	<link rel="styleSheet" href="style.css" type="text/css" media="screen"/>

	<script src="openvidu-browser-2.17.0.js"></script>
</head>

<body>

	<div class="w3-sidebar w3-bar-block w3-card w3-animate-left" style="display:none" id="sidebar">
		<button class="w3-bar-item w3-button w3-large"
				onclick="sidebarClose()">Close &times;</button>
		Participants
		<div class="w3-bar-item" id="listParticipants"></div>
	</div>

	<div id="main">
		<div id="main-container" class="container">
			<div id="logged">
				<div id="session">
					<div class="w3-dark-grey" id="session-header">
						<div class="w3-container">
							<button id="openNav" class="w3-button w3-light-grey w3-large" onclick="sidebarOpen()"><i class="fa fa-users" aria-hidden="true"></i></button>
							<button id="camera" onclick="videoOnOff()"><i id="camIcon" class="fa fa-video-camera" style="color: red"></i></button>
							<button id="audio" onclick="audioOnOff()"><i id="micIcon" class="fa fa-microphone" style="color: red" aria-hidden="true"></i></button>
							<button id="share"  type="submit" onclick="shareScreen()"><i class="btn fa fa-upload"></i></button>
							<button id="shareEnd" class="btn btn-large btn-danger" type="submit" onclick="shareEnd()">
								End Share </button>
							<form action="/leave-session" method="post">
								<input type="hidden" name="sessionName" th:value="${sessionName}"/>
								<input type="hidden" name="token" th:value="${token}"/>
								<button id="buttonLeaveSession" class="btn btn-large btn-danger" type="submit" onclick="leaveSession()">
									<i class="fa fa-sign-out" aria-hidden="true"></i>
								</button>
							</form>
						</div>
					</div>
					<div class="w3-container">
						<div class="col-sm-3"></div>
						<div id="main-video" class="col-sm-6">
							<p class="nickName"></p>
							<video autoplay="autoplay" playsinline></video>
						</div>
						<div class="col-sm-3"></div>
						<div id="video-container" class="col-md-6"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

<script th:inline="javascript">

	const sessionName = [[${ sessionName }]];
	const token = [[${ token }]];
	const nickName = [[${ nickName }]];
	const userName = [[${ userName }]];

	var publisher = {};
	var videoOn = true;
	var audioOn = true;
	var participant = [];

	var abc = true;

	console.warn('Request of TOKEN gone WELL (TOKEN:' + token + ')');

	OV = new OpenVidu();

	session = OV.initSession();

	session.on('streamCreated', (event) => {

		const subscriber = session.subscribe(event.stream, 'video-container');

		subscriber.on('videoElementCreated', (event) => {
			appendUserData(event.element, subscriber.stream.connection);
		});
	});

	session.on('streamDestroyed', (event) => {
		removeUserData(event.stream.connection);
	});
	session.connect(token, { clientData: nickName })
		.then(() => {

			$('#session-title').text(sessionName);
			$('#join').hide();
			$('#session').show();

			publisher = OV.initPublisher('video-container', {
				audioSource: undefined,
				videoSource: undefined,
				publishAudio: true,
				publishVideo: true,
				resolution: '640x480',
				frameRate: 30,
				insertMode: 'APPEND',
				mirror: false
			});

			publisher.on('videoElementCreated', (event) => {
				const userData = {
					nickName: nickName,
					userName: userName
				};
				initMainVideo(event.element, userData);
				appendUserData(event.element, userData);
				$(event.element).prop('muted', true);
			});

			session.publish(publisher);

		})
		.catch(error => {
			console.warn('There was an error connecting to the session:', error.code, error.message);
		});

	function videoOnOff() {
		if (videoOn) {
			videoOn = false;
			publisher.publishVideo(false);
			document.getElementById("camIcon").style = "color: black";
		} else {
			videoOn = true;
			publisher.publishVideo(true);
			document.getElementById("camIcon").style = "color: red";
		}
	}

	function audioOnOff() {
		if (audioOn) {
			audioOn = false;
			publisher.publishAudio(false);
			document.getElementById("micIcon").style = "color: black";
		} else {
			audioOn = true;
			publisher.publishAudio(true);
			document.getElementById("micIcon").style = "color: red";
		}
	}

	function sidebarOpen() {
		document.getElementById("main").style.marginLeft = "10%";
		document.getElementById("sidebar").style.width = "15%";
		document.getElementById("sidebar").style.display = "block";
		document.getElementById("openNav").style.display = 'none';
		document.getElementById("listParticipants").innerHTML = null;
		participant.forEach((item, index) => {
			document.getElementById("listParticipants").innerHTML += '<li>'+item+'</li>';
		});
	}

	function sidebarClose() {
		document.getElementById("main").style.marginLeft = "0%";
		document.getElementById("sidebar").style.display = "none";
		document.getElementById("openNav").style.display = "inline-block";
	}

	function leaveSession() {
		participant.forEach((item, index) => {
			if (item === nickName) {
				participant.splice(index);
				return;
			}
		});
		session.disconnect();
	}

	function shareScreen() {

		var userData = {
			nickName: nickName,
			userName: userName
		};
		removeUserData(userData);
		cleanMainVideo();
		session.unpublish(publisher);
		publisher = OV.initPublisher('video-container', { videoSource: "screen" });

		publisher.once('accessAllowed', (event) => {
			publisher.stream.getMediaStream().getVideoTracks()[0].addEventListener('ended', () => {
				console.log('User pressed the "Stop sharing" button');
			});
			sessionScreen.publish(publisher);

		});

		publisher.once('accessDenied', (event) => {
			console.warn('ScreenShare: Access Denied');
		});
		session.publish(publisher);
	}

	function shareEnd(){

		session.unpublish(publisher);
		publisher = OV.initPublisher('video-container', {
			audioSource: undefined,
			videoSource: undefined,
			publishAudio: true,
			publishVideo: true,
			resolution: '640x480',
			frameRate: 30,
			insertMode: 'APPEND',
			mirror: false
		});
		publisher.on('videoElementCreated', (event) => {
			const userData = {
				nickName: nickName,
				userName: userName
			};
			initMainVideo(event.element, userData);
			appendUserData(event.element, userData);
			$(event.element).prop('muted', true);
		});

		session.publish(publisher);
	}

	function appendUserData(videoElement, connection) {
		let clientData;
		let serverData;
		let nodeId;
		if (connection.nickName) {
			clientData = connection.nickName;
			serverData = connection.userName;
			nodeId = 'main-videodata';
		} else {
			clientData = JSON.parse(connection.data.split('%/%')[0]).clientData;
			serverData = JSON.parse(connection.data.split('%/%')[1]).serverData;
			nodeId = connection.connectionId;
		}
		const dataNode = document.createElement('div');
		dataNode.className = "data-node";
		dataNode.id = "data-" + nodeId;
		dataNode.innerHTML = '<p class="nickName">' + clientData + '</p>';
		videoElement.parentNode.insertBefore(dataNode, videoElement.nextSibling);
		participant.push(clientData);
		addClickListener(videoElement, clientData, serverData);
	}

	function removeUserData(connection) {
		const userNameRemoved = $("#data-" + connection.connectionId);
		if ($(userNameRemoved).find('p.userName').html() === $('#main-video p.userName').html()) {
			cleanMainVideo();
		}
		$("#data-" + connection.connectionId).remove();
	}

	function removeAllUserData() {
		$(".data-node").remove();
	}

	function cleanMainVideo() {
		$('#main-video video').get(0).srcObject = null;
		$('#main-video p').each(function () {
			$(this).html('');
		});
	}

	function addClickListener(videoElement, clientData, serverData) {
		videoElement.addEventListener('click', function () {
			const mainVideo = $('#main-video video').get(0);
			if (mainVideo.srcObject !== videoElement.srcObject) {
				$('#main-video').fadeOut("fast", () => {
					$('#main-video p.nickName').html(clientData);
					$('#main-video p.userName').html(serverData);
					mainVideo.srcObject = videoElement.srcObject;
					$('#main-video').fadeIn("fast");
				});
			}
		});
	}

	function initMainVideo(videoElement, userData) {
		$('#main-video video').get(0).srcObject = videoElement.srcObject;
		$('#main-video p.nickName').html(userData.nickName);
		$('#main-video p.userName').html(userData.userName);
		$('#main-video video').prop('muted', true);
	}
</script>

</html>
